<div class="intro-categories">
  <p style="text-align: center;">
    <img src="/images/image.png" alt="Ctf" style="max-width: 100%; height: auto;">
  </p>

  <p style="text-align: center;"><b> CTF's - Capture the flag. </b></p>

  <p style="text-align: justify;">
    Un CTF (Capture The Flag) es un concurso de ciberseguridad donde los participantes buscan y extraen un fragmento de
    texto secreto (la "bandera") oculto en sistemas informáticos, aplicaciones o código, para ganar puntos.

    Es la principal forma lúdica y competitiva de practicar habilidades de hacking, análisis forense, ingeniería inversa
    y criptografía en un entorno seguro.
  </p>

  <p style="text-align: center;"><b> Muy pronto empezaré a publicar los writeups </b></p>

  <h3 style="text-align: center;">Explorar Writeups por Plataforma:</h3>

  <div style="text-align: center; margin-bottom: 20px;">
    <a href="/categories/hack-the-box" class="btn btn-outline-primary m-1">Hack The Box (HTB)</a>
    <a href="/categories/tryhackme" class="btn btn-outline-primary m-1">TryHackMe (THM)</a>
    <a href="/categories/vulnhub" class="btn btn-outline-primary m-1">VulnHub</a>
    <a href="/categories/root-me" class="btn btn-outline-primary m-1">Root Me</a>
    <a href="/categories/picoctf" class="btn btn-outline-primary m-1">picoCTF</a>
    <a href="/categories/cryptohack" class="btn btn-outline-primary m-1">CryptoHack</a>
    <a href="/categories/overthewire" class="btn btn-outline-primary m-1">OverTheWire</a>
  </div>
</div>
<hr>
